/* A reset to make things easier */
html, html * {

}

main {
  background-color: rgba(80,80,80,0.2);
  min-height: 100vh;
  display: grid;
  grid-template-areas: "nav nav nav"
                       "side art aside"
                       "side art aside";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 80px 1fr;
  grid-gap: 1rem ;
}

main>* {
  border: orange solid 1px;   /* sorry for the horrible color*/
  border-radius: 0.5rem;
  text-align: center;         /* keep the text centered horizontally*/
}

aside {
  background-color: rgba(143, 81, 188, 0.3);
  grid-area: aside;
}

section.sidebar {
  background-color: rgba(150, 112, 36, 0.3);
  grid-area: side;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section.sidebar img {
  max-width: 80%; /* you'll see why this is useful soon, I promise!*/
  border: 1px solid black;
  border-radius: 0.25rem;
}

header{
  background-color: rgba(30,200,30,0.3);
  grid-area: 1 / 1 / span 1 / span 3;
}

nav {
  background-color: rgba(30,200,30,0.3);
  grid-area: n;
}

article {
  background-color: rgba(30,30,30,0.4);
  grid-area: art;
  display: grid;
  grid-template-areas: "a a a a" "e f f h" "e f f  h" "e n n p";
  grid-gap: 0.5rem;
}

article > div {
  border: blue 1px solid;
  border-radius: 0.5rem;
  background-color: rgba(50,50,200,0.3);
}

article div section {
  line-height: 2;
  background-color: rgba(10,10,200,0.5);
}

#box2 {
  grid-area: a;
}

#box3 {
  grid-area: h;
}

#box4 {
  grid-area: n;
}

#box5 {
  grid-area: p;
  background-color: rgba(200,10,10,0.3)
}

#box6 {
  grid-area: e;
  background-color: rgba(200,10,10,0.3)
}

@media (max-width: 480px) {
  main {
    grid-template-areas: "nav"
                         "art"
                         "side"
                         "aside";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 120px 80px;
    grid-column-gap: 0;
  }
  section.sidebar {
    flex-direction: row;
  }
  section.sidebar img {
    flex: 1;
    max-height: 40%;
    flex-shrink: 1;
  }
}
