{
  "root": true,
  "extends": "essentials",
  "rules": { "semi": ["warn", "always", { "omitLastInOneLineBlock": true}],
             "no-magic-numbers": ["error", {"ignoreArrayIndexes": true}],
             "complexity": ["warn", {"max": 5}]
           }
}
